body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f4f8;
    color: #333;
}

header {
    background-color: #0077b6;
    color: white;
    padding: 20px 0;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

nav {
    background-color: #fff;
    padding: 15px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav a {
    color: #0077b6;
    text-decoration: none;
    padding: 10px 15px;
    margin: 0 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #e0f7fa;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente */
}

.services {
    max-width: 1200px; 
    width: 100%;
    padding: 0 20px; /* Añade padding lateral para evitar que el contenido toque los bordes */
    margin-bottom: 30px; /* Añade margen inferior para separación */
}

.container {
    
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    max-width: 1200px;
    padding: 0 30px;
}

.user-info {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    flex: 0 0 30%;
}

.user-info h3 {
    margin-top: 0;
    font-size: 18px;
    color: #0077b6;
}

.user-info .detail {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 14px;
    color: #555;
}

.user-info .detail i {
    margin-right: 8px;
    font-size: 18px;
    color: #0077b6;
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.service-item {
    flex: 1;
    min-width: 200px;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.service-item:hover {
    transform: translateY(-5px);
}

.service-icon {
    font-size: 40px;
    margin-bottom: 10px;
    color: #0077b6;
}

.service-item p {
    margin: 0;
    font-size: 16px;
    color: #333;
}


/* Estilos a editar en la tabla  */
.bi-pencil-fill, .bi-trash3-fill, .bi-plus-square-fill, .bi-receipt {
    color: #007bff; /* Color por defecto */
    transition: color 0.3s ease-in-out;
    font-size: 1.2rem;
    margin-right: 10px;
}

.bi-pencil-fill:hover, .bi-trash3-fill:hover, .bi-plus-square-fill:hover, .bi-receipt:hover {
    color: #0056b3; /* Color al hacer hover */
    text-decoration: underline; /* Subrayado al hacer hover (opcional) */
}


