<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Encuesta JOANOLF</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <!-- Enlace a FontAwesome -->
  <!-- css bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" rel="stylesheet"
    crossorigin="anonymous">

</head>

<body>
  <header>
    <h1>Encuestas.com</h1>
  </header>

  <nav>
    <a href="/home">Inicio</a>
    <a href="#">Encuestas</a>
    <a href="#">Chapters</a>
    <a href="#">Preguntas</a>
    <a href="#">Respuestas</a>

  </nav>

  <main>
    <div class="services">
      <div class="service-item" data-bs-toggle="modal" data-bs-target="#exampleModal15">
        <div class="service-icon">📋</div>
        <p>Crear encuesta</p>
      </div>
      <div class="service-item" data-bs-toggle="modal" data-bs-target="#exampleModal18">
        <div class="service-icon">🗂️</div>
        <p>Crear opciones de respuesta</p>
      </div>
    </div>


    <!-- #################
       ESTES ES EL OTRO EJEMPLO
       #########################
        -->
    <p>
      <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
        aria-expanded="false" aria-controls="collapseExample" data-bs-hide=".collapse.show">
        Gestión Encuesta
      </button>
      <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample2"
        aria-expanded="false" aria-controls="collapseExample2" data-bs-hide=".collapse.show">
        Gestión Capitulos
      </button>
      <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample3"
        aria-expanded="false" aria-controls="collapseExample3" data-bs-hide=".collapse.show">
        Gestión Preguntas
      </button>
      <!-- <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample5"
        aria-expanded="false" aria-controls="collapseExample5" data-bs-hide=".collapse.show">
        Gestión SubPreguntas
      </button> -->
      <button onclick="cargarOpcionRespuesta();" class="btn btn-primary" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample4"
        data-bs-hide=".collapse.show">
        Gestión Opción Respuestas
      </button>
    </p>

    <div class="collapse" id="collapseExample">
      <div class="card card-body" id="todasEncuestas">

        <!-- <table class="table">
          <thead>
            <tr>
              <th scope="col">Id encuesta</th>
              <th scope="col">Nombre Encuesta</th>              
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>
                <i class="bi bi-pencil-fill" title="Editar" data-bs-toggle="modal" data-bs-target="#exampleModal" style="cursor: pointer;"></i>
                <i class="bi bi-trash3-fill" title="Eliminar" style="cursor: pointer;"></i>
                <i class="bi bi-plus-square-fill" title="Agregar capitulo" data-bs-toggle="modal" data-bs-target="#exampleModal2"style="cursor: pointer;"></i>

              </td>
              
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              
            </tr>
            <tr>
              <th scope="row">3</th>
              <td colspan="2">Larry the Bird</td>
              
            </tr>
          </tbody>
        </table> -->
      </div>
    </div>
    <div class="collapse" id="collapseExample2">
      <div class="card card-body" id=encuestasCapitulos>
        <!-- <table class="table">
          <thead>
            <tr>
              <th scope="col">Id encuesta</th>
              <th scope="col">Nombre Encuesta</th>
              <th scope="col">Capitulo</th>              
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
         
              <td>
                <div class="btn-group">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuClickableOutside" data-bs-toggle="dropdown" data-bs-auto-close="inside" aria-expanded="false">
                    Seleccione Capitulo
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuClickableOutside">
                    <li><a class="dropdown-item" href="#">Capitulo 1</a></li>
                    <li><a class="dropdown-item" href="#">Capitulo 2</a></li>
                    <li><a class="dropdown-item" href="#">Capitulo 3</a></li>
                  </ul>
                </div>
              </td>
              <td>
                <i class="bi bi-pencil-fill" title="Editar" data-bs-toggle="modal" data-bs-target="#exampleModal3" style="cursor: pointer;"></i>
                <i class="bi bi-trash3-fill" title="Eliminar" style="cursor: pointer;"></i>
                <i class="bi bi-plus-square-fill" title="Agregar Pregunta" data-bs-toggle="modal" data-bs-target="#exampleModal4" style="cursor: pointer;"></i>

              </td>
              
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              
            </tr>
            <tr>
              <th scope="row">3</th>
              <td colspan="2">Larry the Bird</td>
              
            </tr>
          </tbody>
        </table> -->
      </div>
    </div>
    <div class="collapse" id="collapseExample3">
      <div class="card card-body" id=capitulosecPreguntas>
        <!-- <table class="table">
          <thead>
            <tr>
              <th scope="col">Id encuesta</th>
              <th scope="col">Nombre Encuesta</th>
              <th scope="col">Capitulo</th>
              <th scope="col">Preguntas</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td> -->
        <!-- *************
                 DROPDOWN DE CAPITULO
                 *¨************************* -->
        <!-- <div class="btn-group">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuClickableOutside"
                    data-bs-toggle="dropdown" data-bs-auto-close="inside" aria-expanded="false">
                    Seleccione Capitulo
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuClickableOutside">
                    <li><a class="dropdown-item" href="#">Capitulo 1</a></li>
                    <li><a class="dropdown-item" href="#">Capitulo 2</a></li>
                    <li><a class="dropdown-item" href="#">Capitulo 3</a></li>
                  </ul>
                </div>
              </td> -->
        <!-- *************
                 DROPDOWN DE PRegunta
                 *¨************************* -->
        <!-- <td>
                <div class="btn-group">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuClickableOutside"
                    data-bs-toggle="dropdown" data-bs-auto-close="inside" aria-expanded="false">
                    Seleccione Pregunta
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuClickableOutside">
                    <li><a class="dropdown-item" href="#">Pregunta 1</a></li>
                    <li><a class="dropdown-item" href="#">Pregunta 2</a></li>
                    <li><a class="dropdown-item" href="#">Pregunta 3</a></li>
                  </ul>
                </div>
              </td>

              <td>
                <i class="bi bi-pencil-fill" title="Editar" data-bs-toggle="modal" data-bs-target="#exampleModal5"
                  style="cursor: pointer;"></i>
                <i class="bi bi-trash3-fill" title="Eliminar" style="cursor: pointer;"></i>
                <i class="bi bi-plus-square-fill" title="Agregar Respuesta" data-bs-toggle="modal"
                  data-bs-target="#exampleModal6" style="cursor: pointer;"></i>

              </td>

            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>

            </tr>
            <tr>
              <th scope="row">3</th>
              <td colspan="2">Larry the Bird</td>

            </tr>
          </tbody>
        </table> -->
      </div>
    </div>
    <div class="collapse" id="collapseExample4">
      <div class="card card-body" id="PreguntasRespuesta">

      </div>
    </div>
    <div class="collapse" id="collapseExample5">
      <div class="card card-body">
        <h1>Hola</h1>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Id encuesta</th>
              <th scope="col">Nombre Encuesta</th>
              <th scope="col">Capitulo</th>
              <th scope="col">Preguntas</th>
              <th scope="col">SubPreguntas</th>

              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>
                <!-- *************
                 DROPDOWN DE CAPITULO
                 *¨************************* -->
                <div class="btn-group">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="gestionCapitulos"
                    data-bs-toggle="dropdown" data-bs-auto-close="inside" aria-expanded="false">
                    Seleccione Capitulo
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuClickableOutside">
                    <li><a class="dropdown-item" href="#">Capitulo 1</a></li>
                    <li><a class="dropdown-item" href="#">Capitulo 2</a></li>
                    <li><a class="dropdown-item" href="#">Capitulo 3</a></li>
                  </ul>
                </div>
              </td>
              <!-- *************
                 DROPDOWN DE Pregunta
                 *¨************************* -->
              <td>
                <div class="btn-group">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuClickableOutside"
                    data-bs-toggle="dropdown" data-bs-auto-close="inside" aria-expanded="false">
                    Seleccione Pregunta
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuClickableOutside">
                    <li><a class="dropdown-item" href="#">Pregunta 1</a></li>
                    <li><a class="dropdown-item" href="#">Pregunta 2</a></li>
                    <li><a class="dropdown-item" href="#">Pregunta 3</a></li>
                  </ul>
                </div>
              </td>
              <!-- *************
                 DROPDOWN DE SubPregunta
                 *¨************************* -->
              <td>
                <div class="btn-group">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuClickableOutside"
                    data-bs-toggle="dropdown" data-bs-auto-close="inside" aria-expanded="false">
                    Seleccione Pregunta
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuClickableOutside">
                    <li><a class="dropdown-item" href="#">SubPregunta 1</a></li>
                    <li><a class="dropdown-item" href="#">SubPregunta 2</a></li>
                    <li><a class="dropdown-item" href="#">SubPregunta 3</a></li>
                  </ul>
                </div>
              </td>
              <!-- *************
                 DROPDOWN DE Acciones
                 *¨************************* -->


              <td>
                <i class="bi bi-pencil-fill" title="Editar" data-bs-toggle="modal" data-bs-target="#exampleModal"
                  style="cursor: pointer;"></i>
                <i class="bi bi-trash3-fill" title="Eliminar" style="cursor: pointer;"></i>
                <i class="bi bi-receipt" title="Agregar SubPregunta" data-bs-toggle="modal"
                  data-bs-target="#exampleModal7" style="cursor: pointer;"></i>
                <i class="bi bi-plus-square-fill" title="Agregar Opción Respuesta" data-bs-toggle="modal"
                  data-bs-target="#exampleModal6" style="cursor: pointer;"></i>

              </td>

            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>

            </tr>
            <tr>
              <th scope="row">3</th>
              <td colspan="2">Larry the Bird</td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>


   <!-- #####################
   #########################
              Modal Editar Encuesta
    ########################
    ########################-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Encuesta: &nbsp </h1>
        <h1 class="modal-title fs-5" id="encuestaNumero"></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="editarEncuesta">
          <div class="mb-3">
            <label for="name" class="col-form-label">Editar Nombre de la encuesta:</label>
            <input type="text" class="form-control" id="name" name="name" required>
          </div>
          <div class="mb-3">
            <label for="description" class="col-form-label">Editar Descripción de la encuesta:</label>
            <input type="text" class="form-control" id="description" name="description" required>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Actualizar encuesta</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- #####################
   #########################
              Modal Agregar Capitulo
    ########################
    ########################-->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Crear Capitulo a la encuesta #: &nbsp </h1>
        <h1 class="modal-title fs-5" id="encuestaNumeroCap"></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="agregarCapitulo">
          <div class="mb-3">
            <label for="chapter_title" class="col-form-label">Nombre Capitulo:</label>
            <input type="text" class="form-control" id="chapter_title" name="chapter_title" required>
          </div>
          <div class="mb-3">
            <label for="chapter_number" class="col-form-label">Numero Capitulo</label>
            <input type="text" class="form-control" id="chapter_number" name="chapter_number" required>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Crear Capitulo</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- #####################
   #########################
              Modal Editar Capitulo
    ########################
    ########################-->
<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Capitulo: &nbsp </h1>
        <h1 class="modal-title fs-5" id="encuestaNumeroCapEditar"></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="editarCapitulo">
          <div class="mb-3">
            <label for="chapter_title" class="col-form-label">Editar Nombre de Capitulo:</label>
            <input type="text" class="form-control" id="chapter_title" name="chapter_title" required>
          </div>
          <div class="mb-3">
            <label for="chapter_number" class="col-form-label">Editar Numero Capitulo:</label>
            <input type="text" class="form-control" id="chapter_number" name="chapter_number" required>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" id="btnActualizarCapitulo" class="btn btn-primary">Actualizar Capitulo</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- #####################
   #########################
              Modal Editar Pregunta
    ########################
    ########################-->
<div class="modal fade" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Pregunta #: &nbsp; </h1>
        <h1 class="modal-title fs-5" id="numeroPregunta"></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="editarPregunta">
          <div class="mb-3">
            <label for="question_number" class="col-form-label">Editar Numero Pregunta</label>
            <input type="text" class="form-control" id="question_number" name="question_number" required>
          </div>
          <div class="mb-3">
            <label for="response_type" class="col-form-label">Editar Tipo de respuesta de la pregunta</label>
            <div>
              <select name="response_type" id="response_type">
                <option value="texto">texto</option>
                <option value="opcion_multiple">selección múltiple</option>
              </select>
            </div>
          </div>
          <div class="mb-3">
            <label for="comment_question" class="col-form-label">Editar Comentario de la pregunta</label>
            <input type="text" class="form-control" id="comment_question" name="comment_question" required>
          </div>
          <div class="mb-3">
            <label for="question_text" class="col-form-label">Editar la pregunta </label>
            <input type="text" class="form-control" id="question_text" name="question_text" required>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" id="btnActualizarPregunta" class="btn btn-primary">Actualizar Pregunta</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- #####################
   #########################
              Modal Agregar Respuesta (lista)
    ########################
    ########################-->
<div class="modal fade" id="exampleModal6" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Crear Opción Respuesta </h1>
        <h1 class="modal-title fs-5" id="seleccionarPregunta"></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="opciones" class="col-form-label">Seleccione Opción de respuesta</label>
          </div>
          <div class="mb-3">
            <select name="opciones" id="seleccionOpcion"></select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button onclick="agregarOption();" type="button" class="btn btn-primary">Agregar Respuesta</button>
      </div>
    </div>
  </div>
</div>

<!-- #####################
   #########################
              Modal Agregar SubPregunta
    ########################
    ########################-->
<div class="modal fade" id="exampleModal7" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Crear SubPregunta </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Numero SubPregunta</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Escriba la Subpregunta aquí </label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Crear SubPregunta</button>
      </div>
    </div>
  </div>
</div>

<!-- #####################
   #########################
              Modal Editar Respuesta
    ########################
    ########################-->
<div class="modal fade" id="exampleModal8" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Opción respuesta </h1>
        <h1 class="modal-title fs-5" id="numeroRespuesta"></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="opciones" class="col-form-label">Seleccione Opción de respuesta</label>
            <div class="dropdown">
              <div class="mb-3">
                <select name="opciones" id="seleccionOpcionEditar"></select>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button onclick="ActualizarOption();" type="button" class="btn btn-primary">Actualizar Respuesta</button>
      </div>
    </div>
  </div>
</div>

<!-- #####################
   #########################
              Modal Agregar Pregunta
    ########################
    ########################-->
<div class="modal fade" id="exampleModal9" tabindex="-1" aria-labelledby="exampleModalLabel4" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Crear Pregunta</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Nombre opción respuesta</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Crear Opción respuesta</button>
      </div>
    </div>
  </div>
</div>

<!-- #####################
   #########################
              Modal Crear Encuesta
    ########################
    ########################-->
<div class="modal fade" id="exampleModal15" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Crear Encuesta</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="nuevaEncuesta">
          <div class="mb-3">
            <label for="name" class="col-form-label">Nombre de la encuesta:</label>
            <input type="text" id="name" name="name" class="form-control" required>
          </div>
          <div class="mb-3">
            <label for="description" class="col-form-label">Descripción de la encuesta:</label>
            <input type="text" id="description" name="description" class="form-control" required>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Crear encuesta</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- #####################
   #########################
              Modal Agregar Pregunta En El Capitulo
    ########################
    ########################-->
<div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel4" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Crear Pregunta En El Capitulo #: &nbsp</h1>
        <h1 class="modal-title fs-5" id="numeroCapitulo"></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="agregarPagina">
          <div class="mb-3">
            <label for="question_numberCrear" class="col-form-label">Numero Pregunta</label>
            <input type="text" class="form-control" id="question_numberCrear" name="question_number" required>
          </div>
          <div class="mb-3">
            <label for="response_typeCrear" class="col-form-label">Tipo de respuesta de la pregunta</label>
            <div>
              <select id="response_typeCrear">
                <option value="texto">texto</option>
                <option value="opcion_multiple">selección múltiple</option>
              </select>
            </div>
          </div>
          <div class="mb-3">
            <label for="comment_questionCrear" class="col-form-label">Comentario de la pregunta</label>
            <input type="text" class="form-control" id="comment_questionCrear" name="comment_question" required>
          </div>
          <div class="mb-3">
            <label for="question_textCrear" class="col-form-label">Escriba su pregunta aquí </label>
            <input type="text" class="form-control" id="question_textCrear" name="question_text" required>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" id="btnCrearPregunta" class="btn btn-primary">Crear Pregunta</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- #####################
   #########################
              Modal crear opciones
    ########################
    ########################-->

<div class="modal fade" id="exampleModal18" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Crear Opción respuesta </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="crearopcion">
          <div class="mb-3">
            <label for="optiontext" class="col-form-label">Nombre opcion de respuesta</label>
            <input type="text" class="form-control" id="optiontextcrear" name="optiontext" required>
          </div>      
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" id="btnActualizarPregunta" class="btn btn-primary">Crear Opcion</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

  </main>
</body>
<script src="/js/appGestion.js"></script>
<!-- js bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</html>